.cycle-gallery {
  position: relative;

  .mask {
    overflow: hidden;
    width: 100%;

    .slideset {
      width: 99999px;
      float: left;
    }

  }

  .slide {
    width: 100%;
    float: left;

    blockquote {
      margin: 0 auto;
      padding: 100px 15px;
      max-width: 860px;

      q {

        &:after,
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 65px;
          height: 50px;
          background: url('../img/img-carousel.png') no-repeat;
          background-size: cover;
        }

        &:before {
          top: 0;
          transform: rotate(180deg) translateX(50%);
        }

      }

    }

  }

  .btn-prev,
  .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba($white, 0.5);
    @include animate(color);
    font-size: 28px;

    &:hover {
      color: $pink;
    }

    i {
      display: block;
    }

  }

  .btn-prev {
    left: 0;
  }

  .btn-next {
    right: 0;
  }

}

@include media('<desktop') {

  .cycle-gallery {

    .btn-prev {
      left: 10px;
    }

    .btn-next {
      right: 10px;
    }

  }

}

@include media('<tablet') {

  .cycle-gallery {

    blockquote {
      padding: 30px 15px;

      q {

        &:after,
        &:before {
          width: 50px;
          height: 40px;
          background-size: cover;
        }

      }

    }

    .btn-prev {
      left: 10px;
    }

    .btn-next {
      right: 10px;
    }

  }

}

@include media('<phone') {

  .cycle-gallery {

    .slide {

      blockquote {
        padding: 70px 15px;
      }

    }

    .btn-prev {
      left: -10px;
    }

    .btn-next {
      right: -10px;
    }

  }

}