.carousel-section {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 100px 0;
}

@include media('<tablet') {

  .carousel-section {
    padding: 60px 0;
    
  }

}
