.company-info {
  padding: 145px 0 55px;
}

.info-items {
  @extend %listreset;
  margin: 0 -20px;
  @include inline-space-reset;

  > li {
    @include inline-space;
    width: (100%/3);
    display: inline-block;
    padding: 0 20px 80px 20px;
    vertical-align: top;

    .items-image {
      width: 50px;
      float: left;
      margin-right: 30px;

      img {
        max-width: 57px; 
        width: 100%;
      }

    }

    .item-description {
      overflow: hidden;

      h3 {
        text-transform: uppercase;
        color: $pink;
        margin: 0 0 30px 0;
      }

    }

  }

}



@include media('<tablet') {

  .company-info {
    padding: 70px 0 60px;

    .info-items {
      margin: 0 -15px;

      li {
        padding: 0 15px 60px 15px;

        .items-image {
          margin-right: 20px;
        }

      }

    }

  }

}

@include media('<phone') {

  .company-info {
    padding: 40px 0 20px;

    .info-items {
      margin: 0;

      li {
        width: 100%;
        padding: 0 0 30px;

        .item-description {

          h3 {
            font-size: 16px;
          }

        }

      }

    }

  }

}

