.description-section {
  background: $light-gray;
  padding: 150px 0 80px;
  position: relative;
  z-index: -2;

  &:after {
    content: '';
    position: absolute;
    bottom: 97%;
    left: 0;
    right: 0;
    height: 40px;
    background: $pink;
    z-index: -1;
    transform: rotate(-1deg);
  }

  .image-block {
    width: 55%;
    display: inline-block;
    position: absolute;

    .image-box {
      margin: -3% 10% -20% -5%;

      img {
        width: 100%;
        display: block;
        height: 100%;
      }

    }

  }

  .description-block {
    width: 45%;
    display: inline-block;
    margin-right: 30px;

    h2 {

      &:after {
        left: 0;
        transform: translateX(0);
      }

    }

    p {
      margin: 0 0 50px;
    }

  }

}

@include media('<tablet') {

  .description-section {
    padding: 80px 0 60px;

    &:after {
      transform: rotate(-2deg);
      bottom: 98%;
    }

    .description-wrapper {
      display: table;
    }

    .description-block {
      width: 100%;
      padding: 0 0 30px;
      display: table-footer-group;
      margin: 0;
    }

    .image-block {
      position: inherit;
      width: 100%;
      display: table-header-group;

      .image-box {
        margin: 0;
      }

    }

  }

}

@include media('<phone') {

  .description-section {
    padding: 40px 0 40px;

    .description-block {
      font-size: 15px;
      margin: 0;

      p {
        margin: 0 0 20px;
      }

    }

  }

}