.info-section {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  z-index: -1;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 1px;
    min-height: 800px;
    margin: 0 0 0 -5px;
  }

}

.info-block {
  display: inline-block;
  vertical-align: middle;
  max-width: 980px;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  color: $white;
  font-size: 22px;
  padding: 100px 15px;

  h1 {
    text-transform: uppercase;
  }

  p {
    margin: 0 0 70px;
  }

}

@include media('<tablet') {

  .info-section {
    padding: 0;

    &:before {
      min-height: 650px;
    }

    .info-block {
      font-size: 16px;
    }

  }

}

@include media('<phone') {

  .info-section {

    &:before {
      content: none;
    }

    .info-block {
      padding: 90px 15px 60px;

      h1 {
        font-size: 32px;
      }

      p {
        margin: 0 0 30px;
      }

    }

  }

}

@include media('<xs-phone') {

  .info-block {

    h1 {
      font-size: 28px;
    }

  }

}

