.navigation {
  float: right;

  &-opener {
    display: none;
    width: 20px;
    height: 30px;
    position: relative;
    z-index: 3;

    span {
      position: absolute;
      right: 100%;
      padding-right: 15px;
      @include animate(opacity visibility);
      color: $white;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 100%;
        height: 2px;
        background: $white;
        top: 50%;
        width: 20px;
        visibility: visible;
        opacity: 1;
        @include animate(visibility opacity);
      }

    }

    &:before, &:after{
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      right: 0;
      height: 2px;
      background: $white;
      display: block;
      @include animate(transform opacity visibility);
    }

    &:after {
      top: inherit;
      bottom: 7px;
    }

    .navigation-active  & {

      &:after, &:before {
        content: '';
        transform: rotate(-45deg);
        top: 50%;
      }
  
      &:before {
        transform: rotate(45deg);
      }

      & span {
        opacity: 0;
        visibility: hidden;
      
        &:after {
          opacity: 0;
          visibility: hidden;
        }

      }

    }

  }

  &-drop {

    .nav-menu {
      @extend %listreset;
      @include inline-space-reset;

      li {
        display: inline-block;
        @include inline-space;
        font-size: 16px;
        line-height: 1.2;
        vertical-align: top;

        &:not(:last-child) {
          padding-right: 15px;
        }

        a {
          color: $white;
          font-weight: bold;


          &:hover {
            color: $pink;
          }
          
        }

      }
      
    }

  }

}

@include media('<tablet') {

  .navigation {

    .navigation-drop {
      @include animate(transform visibility opacity);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-100%);
      visibility: hidden;
      opacity: 0;
      background: $gray;
      padding: 100px 15px;
      overflow: auto;

      .nav-menu {
        font-size: 24px;

        li {
          display: block;
          text-align: center;

          &:not(:last-child) {
            padding:0 0 50px;
          }

          a {
            font-size: 28px;
          }

        }

      }

      .navigation-active  & { 
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .resize-active & {
        transition: none;
      }

    }

    &-opener {
      display: block;

      .navigation-active  & { 
        position: fixed;
        right: 6%;
      }

    }

  }

}