.products-section {
  padding: 150px 0 135px;
  background: #f4f4f4;

  .head-block {
    margin: 0 auto 60px;
  }

}


.products-items {
  @extend %listreset;
  margin: 0 -15px;
  @include inline-space-reset;

  li {
    width: (100%/4);
    display: inline-block;
    @include inline-space;

    & {
      padding: 0 15px;
    }

    .price-block {
      background: $black;
      color: $white;
      padding: 30px 0 55px;
      text-align: center;
      position: relative;

      .price {
        font-size: 50px;
        font-weight: bold;
        display: block;
        line-height: 1;

        i {
          font-size: 20px;
          font-style: normal;
        }

        sub {
          bottom: 0;
        }

      }

      .button {
        display: block;
        margin-bottom: -10%;
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translateX(-50%);
        background: #f4f4f4;
        color: $black;
      }

    }

    .active-block {
      background: $pink;
    }

    .description-block {
      width: 100%;
      text-align: center;
      background: #fff;
      padding: 60px 30px 30px;

      ul {
        @extend %listreset;
        width: 100%;
        padding-bottom: 40px;

        li {
          display: block;
          width: 100%;
          margin: 0;

          &:not(:last-child) {
            padding: 0 0 15px;
          }

        }

      }

    }

    button {
      margin: 0 -30px;
    }

  }

}

@include media('<tablet') {
  .products-items {

    li {
      width: (100%/2);
      padding: 0 15px 30px;
    }

  }

} 

@include media('<phone') {
  .products-items {

    li {
      width: 100%;
      padding: 0 15px 30px;
    }

  }

} 