.section-caption {
  margin: 0 0 40px;
  padding: 0 0 45px;
  position: relative;
  line-height: 1.4;

  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 200px;
    height: 2px;
    background: $pink;
    left: 50%;
    transform: translateX(-50%);
  }

}

@include media('<tablet') {

  .section-caption {
    margin: 0 0 25px;
    padding: 0 0 25px;
  }

}

@include media('<phone') {

  .section-caption {
    font-size: 26px;
  }

}