.service-section {
  padding: 150px 0 60px;
}

.list-items {
  @extend %listreset;
  @include inline-space-reset;
  margin: 0 -30px;

  li {
    display: inline-block;
    width: (100%/4);
    text-align: center;
    @include inline-space;
    padding: 0 30px 30px;
    vertical-align: top;

    &:first-child {
      margin: 0;
    }

    .image-block {
      display: block;
      @include size(130px, 130px);
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      position: relative;
      @include animate(border-color);
      margin: 0 auto 30px;

      img {
        @include vertical-align-el;
        max-width: 57px;
      }

    }

    h3 {

      &:not(:last-child) {
        margin: 0 0 20px;
      }

      a {
        text-transform: uppercase;
        @include animate(color);

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &:hover {
          color: $gray;
        }

      }

    }

  }

}

@include media('<tablet') {

  .service-section {
    padding: 90px 0 30px;
  }

  .list-items {
    margin: 0 -15px;

    li {
      padding: 0 15px 30px;
    }

  }

}

@include media('<phone') {

  .list-items {

    li {
      width: 50%;
      padding: 0 15px 30px;
    }

  }

}

@include media('<xs-phone') {

  .list-items {

    li {
      width: 100%;
    }

    h3 {
      font-size: 16px;
    }

  }

}
