.service-section {
  padding: 150px 0 60px;
}

.head-block {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 90px;
}

.list-items {
  @extend %listreset;
  @include inline-space-reset;
  margin: 0 -30px;

  li {
    display: inline-block;
    width: (100%/4);
    text-align: center;
    @include inline-space;
    padding: 0 30px 30px;
    vertical-align: top;

    &:first-child {
      margin: 0;
    }

    .image-block {
      display: block;
      width: 130px;
      height: 130px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      position: relative;
      @include animate(border-color);
      margin: 0 auto 30px;

      img {
        @include vertical-align-el;
        max-width: 57px;
      }

    }

    h3 {
      margin: 0 0 30px;

      a {
        text-transform: uppercase;
        @include animate(color);

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &:hover {
          color: $black;
        }

      }

    }

  }

}

@include media('<tablet') {

  .service-section {
    padding: 90px 0 30px;
  }

  .list-items {
    margin: 0 -15px;

    li {
      padding: 0 15px 30px;
    }

  }

} 

@include media('<phone') {

  .list-items {

    li {
      width: 100%;
      padding: 0 15px 30px;
    }

  }

}

@include media('<phone') {

  .list-items {
    
     h3 {
       font-size: 18px;
     }

  }
  
}