.text-section {
  padding: 150px 0;

  &:before {
    content: none;
  }

  .info-block {
    padding: 0;

    h2 {
      color: $white;
    }

  }

  &:after {
    content: none;
  }
  
}

@include media('<tablet') {

  .text-section {
    padding: 90px 0;
  }

}