.text-section {
  padding: 145px 0;

  &:before {
    content: none;
  }

  .info-block {
    padding: 0;
    font-size: 15px;
    max-width: 700px;

    h2 {
      color: $white;
    }

  }

  &:after {
    content: none;
  }

}

@include media('<tablet') {

  .text-section {
    padding: 90px 0;
  }

}

@include media('<phone') {

  .text-section {
    padding: 40px 0;
  }

}