.button {
  color: $btn-color;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-transform: uppercase;
  background-color: $btn-background-color;
  border: 1px solid transparent;
  outline: none;
  @include animate(border-radius);
  cursor: pointer;
  min-width: $btn-min-width;
  display: inline-block;
  vertical-align: top;

  &:hover {
    border-radius: 5px;
  }

}

.bottom-section {
  text-align: center;

  .show-button {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    i {
      display: block;
    }

  }

}

.play-link {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-right: 40px;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    right: 0;
  }

}