h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  line-height: 1.5;
  margin: 0 0 30px;
  color: $black;

  &:last-child {
    margin: 0;
  }

}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: 300;
  color: $white;

  mark {
    background: transparent;
    color: $white;
    font-weight: 800;
  }
  
}

h2, .h2 {
  font-size: $h2-font-size;
  color: $black;
  font-weight: 300;
  font-style: italic;
}

h3, .h3 {
  font-size: $h3-font-size;
}

.section-caption {
  margin: 0 0 40px;
  padding: 0 0 40px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 200px;
    height: 2px;
    background: $pink;
    left: 50%;
    transform: translateX(-50%);
  }
  
}

a {
  text-decoration: none;
  color: $base-link-color;
  outline: none;
  font-weight: $base-link-font-weight;
  @include animate(color, .3s, ease-in-out);

  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }
  
}

p {
  margin: 0 0 30px;

  &:last-child {
    margin: 0;
  }
  
}

blockquote {
  margin: 0 100px;
  color: $white;
  font-size: 25px;
  font-style: italic;

  cite {
    padding-top: 40px;
  }

}

@include media("<phone") {

  blockquote {

    q {
      font-size: 16px;
    }

    cite {
      font-size: 18px;
    }

  }

}
